@page "/"
@inject IJSRuntime JSRuntime
@using WebApp.Shared;

@code {
  private const string Url = "https://blazorocticons.net/";
  readonly string _enc = System.Net.WebUtility.UrlEncode(Url);
  readonly string _text = System.Net.WebUtility.UrlEncode("BlazorOcticons is an easy-to-use GitHub Octicons built as customizable blazor components");
}

<Header />
<div class="w-12 position-relative overflow-hidden" id="random-icons-container">
  @for (int i = 0; i < 150; i++)
  {
    <div class="random-icon">
      <RandomIcon />
    </div>
  }
  <div class="w-12 max-w-lg mx-auto pt-5 d-flex flex-direction-column pb-4">
    <div class="d-flex flex-direction-column pb-4">
      <div class="d-flex text-align-center py-4 px-5 lg-px-3 sm-px-2">
        <div class="py-5 md-py-4 position-relative mx-auto max-w-md">
          <div class="py-2">
            <span class="fw-800 fs-60 md-fs-xxx-large sm-fs-xx-large color-1 mono-font">
              BlazorOcticons
            </span>
          </div>
          <div class="pt-4 pb-4 md-pt-0 max-w-sm">
            <span class="fs-x-large sm-fs-medium lh-150">
              BlazorOcticons are an easy-to-use GitHub Octicons built as customizable <span class="px-2 py-1 br-2 bg-color-white color-1"><b>.razor</b></span> components
            </span>
          </div>
        </div>
      </div>
      <div class="pt-5">
        <div class="d-flex flex-direction-row">
          <div class="flex-grow-1"></div>
          <div class="d-flex position-relative align-items-center justify-content-center">
            <span class="color-1 pr-3">Share: </span>
            <a class="h-24px w-24px pr-3 scale-on-hover" href="https://twitter.com/intent/tweet?url=@_enc&text=@_text" target="_blank" rel="noopener noreferrer nofollow">
              <svg class="h-24px w-24px" role="img" aria-labelledby="_tw">
                <title id="_tw">Share on Twitter</title>
                <path fill="#702AF7" d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"></path>
              </svg>
            </a>
            <a class="h-24px w-24px pr-3 scale-on-hover" href="https://www.facebook.com/sharer/sharer.php?u=@_enc" target="_blank" rel="noopener noreferrer nofollow">
              <svg class="h-24px w-24px" role="img" aria-labelledby="_fb">
                <title id="_fb">Share on Facebook</title>
                <path fill="#702AF7" d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"></path>
              </svg>
            </a>
            <a class="h-24px w-24px scale-on-hover" href="https://plus.google.com/share?url=@_enc" target="_blank" rel="noopener noreferrer nofollow">
              <svg class="h-24px w-24px" role="img" aria-labelledby="_gp">
                <title id="_gp">Share on Google+</title>
                <path fill="#702AF7" d="M7.635 10.909v2.619h4.335c-.173 1.125-1.31 3.295-4.331 3.295-2.604 0-4.731-2.16-4.731-4.823 0-2.662 2.122-4.822 4.728-4.822 1.485 0 2.479.633 3.045 1.178l2.073-1.994c-1.33-1.245-3.056-1.995-5.115-1.995C3.412 4.365 0 7.785 0 12s3.414 7.635 7.635 7.635c4.41 0 7.332-3.098 7.332-7.461 0-.501-.054-.885-.12-1.265H7.635zm16.365 0h-2.183V8.726h-2.183v2.183h-2.182v2.181h2.184v2.184h2.189V13.09H24"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-12 bg-color-white">
  <div class="w-12 max-w-lg mx-auto d-flex flex-direction-column">
    <div class="position-relative pt-4 px-3 md-px-2">
      <div id="install" class="py-4">
        <span class="fw-800 fs-xxx-large md-fs-xx-large color-1">
          Installation
        </span>
      </div>
      <div class="py-3">
        <span class="fs-x-large md-fs-large">
          1. Install the <b>BlazorOcticons</b> NuGet package
        </span>
      </div>
      <div class="d-flex pt-3 pb-5 md-pt-2 md-pb-4">
        <Clipboard/>
      </div>
      <div class="py-3">
        <span class="fs-x-large md-fs-large">
          2. In the <b>_Imports.razor</b> file add <b>@@using BlazorOcticons.Octicons;</b>
        </span>
      </div>
      <div class="d-flex pt-3 pb-5 md-pt-2 md-pb-4">
        <div class="py-2 lg-py-0">
          <div class="d-flex p-4 text-decoration-none color-black dark br-3 w-fit-content sm-p-2 sm-br-2 big-shadow">
            <div class="align-items-center justify-content-center pl-2 pr-3 sm-pr-2">
              <span class="fs-large fw-bold code grey md-fs-medium sm-fs-small">@@using System.Net.Http</span><br />
              <span class="fs-large fw-bold code grey md-fs-medium sm-fs-small">@@using System.Net.Http.Json</span><br />
              <span class="fs-large fw-bold code grey md-fs-medium sm-fs-small">...</span><br />
              <span class="fs-large fw-bold code grey md-fs-medium sm-fs-small">@@using Microsoft.AspNetCore.Components</span><br />
              <span class="fs-large fw-bold code grey md-fs-medium sm-fs-small">@@using Microsoft.JSInterop</span><br />
              <span class="fs-large fw-bold code grey md-fs-medium sm-fs-small"><span class="using">@@using</span> <span class="dotnet">BlazorOcticons.Octicons;</span></span><br />
            </div>
          </div>
        </div>
      </div>
      <div class="py-3">
        <span class="fs-x-large md-fs-large">
          3. That's it! Now you can use the components in your project
        </span>
      </div>
    </div>
    <div class="position-relative px-3 md-px-2">
      <div id="usage" class="py-4">
        <span class="fw-800 fs-xxx-large md-fs-xx-large color-1">
          Usage
        </span>
      </div>
      <div class="py-3">
        <span class="fs-x-large md-fs-large">
          Inside your code, use any of GitHub Octicons as <b>.razor</b> components:
        </span>
      </div>
      <div class="w-12 pt-3 pb-5 md-pt-2 md-pb-4">
        <div class="py-2 lg-py-0">
          <div class="d-flex flex-direction-row md-flex-direction-column-reverse text-decoration-none color-black dark br-3 sm-br-2 big-shadow">
            <div class="w-9 md-w-inherit align-items-center justify-content-center p-4 sm-p-3">
              <span class="fs-large fw-bold code grey md-fs-medium sm-fs-small">
                &lt;<span class="using">div</span> <span class="attr">class</span>="<span class="attr-val">d-flex align-items-center<br/>
                  &nbsp;&nbsp;justify-content-center p-3</span>"&gt;
              </span><br/>
              <span class="fs-large fw-bold code grey md-fs-medium sm-fs-small">
                &nbsp;&lt;<span class="dotnet">MarkGithub16</span> <span class="attr">Color</span>="#702AF7" <span class="attr">Size</span>="48"/&gt;
              </span><br/>
              <span class="fs-large fw-bold code grey md-fs-medium sm-fs-small">
                &lt;/<span class="using">div</span>&gt;
              </span><br/>
            </div>
            <div class="w-3 md-w-inherit d-flex align-items-center justify-content-center p-4 sm-p-3 br-3 sm-br-2 bg-color-white">
              <MarkGithub16 Color="#702AF7" Size="48"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-relative px-3 md-px-2">
      <div id="icons" class="py-4">
        <span class="fw-800 fs-xxx-large md-fs-xx-large color-1">
          Icons
        </span>
      </div>
      <div class="pb-3">
        <span class="fs-x-large md-fs-large">All the icons below are <b>.razor</b> components</span>
      </div>
      <IconsCollection />
    </div>
  </div>
</div>

@code {

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await JSRuntime.InvokeVoidAsync("placeRandomIcons");// Initialize main.js after site completely loaded
    }
  }
}